/* :root {
  --color-primary: #f85b2b;
  --color-pink: #f6d6cd;
  --color-green: #04b014;
  --color-orange: #ffaa00;
  --color-red: #dc0000;
  --color-black: #111111;
  --color-lightgrey: #d3d3d3;
  --color-gray: #a7a7a7;
  --color-background: #f7f7f7;
  --color-white: #f7f7fb;

} */
