@import '../../styles/constants/colors';

.navbar {
  height: 5rem;
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  margin-left: 3.125rem;
}

.nav-cat {
  display: flex;
  gap: 10px;
  margin-right: 3.125rem;
  span {
    font-weight: 700;
  }
}

h1 {
  font-family: 'Cafe24Moyamoya-Face-v1.0';
  color: $primary;
  line-height: 100;
  font-size: 1.6rem;  
}

.icon-button {
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  &:hover {
    color: $primary;
  }
}
