@import '../../styles/constants/colors';
@import '../../styles/constants/typography';

.search-wrapper {
  display: flex;
  justify-content: center;
}
.togo-dropdown {
  width: 25vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 16px;
  border: 1px solid $lightgrey;
  margin: 2% 0 2% 0;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
}
.main-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.accommodation {
  width: 40vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 5%;
}
.map {
  width: 40vw;
  height: 80vh;
  position: sticky;
}
img {
  height: 150px;
  border-radius: 8px;
}
.accommodation-title {
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
  font-size: $font-size-18;
  font-weight: 600;
}
p {
  font-size: $font-size-14;
}
<<<<<<< HEAD
p {
  font-size: $font-size-14;
}
=======
=======
}
>>>>>>> cbbf9b5 (fix: merge conflict)
>>>>>>> aec0fe0 (fix: merge conflict-d258ab98)
